@import url('https://fonts.googleapis.com/css?family=Macondo');

body{
	margin:0;
	padding:0;
}

h1 {
    position: absolute;
    color: white;
    margin-left: 50%;
    font-size:5vh;
}

header {
    background-repeat: no-repeat;
    width: auto;
    height: 200px;
    margin: 0;
    padding: 0;
}

header img{
    max-height: 100%;
    max-width: 100%;
}

section > article {
	height:70vh;
	text-align: center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

section > article > p{
	font-size:4em;
	text-transform: uppercase;
	border:1px solid white;
	width:70%;
	margin:0 auto;
	padding:5px;
	margin-bottom:2vh;
	background:rgba(0,0,0, .3);
	font-family: 'Macondo', cursive;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
